*{margin: 0;padding: 0;}

body {
    background-color: rgb(195, 216, 233);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;
}

.Content-login {
    background-color: #4f5bef;
    display: block;
    width: 520px;
    height: 100%;
    padding: 1px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#logo {
    display: block;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 230px;
}

@keyframes rodar {
    to {
        transform: rotate(360deg);
    }
}

.login {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    min-width: 100px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.623);
}

.login_btn {
    padding: 10px;

    width: 300px;
    border-radius: 50px;
    border: 2px solid white;
    background: none;
}

.enter_btn {
    padding: 10px;

    width: 320px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: white;
    color: rgb(92, 88, 88);
}

.Link_problema p {
    margin-top: 50px;
    text-align: center;
    font-size: 10pt;
    font-style: unset;
}
.Link_problema a{
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

.image_background {
    display: block;
    position: absolute;
    left: 260px;
    top: 70px;
    width: 980px;
    
}

@media (max-width:900px){
    body {
        background-color: black;
    }

    .image_background {
        display: none; 
    }

    #logo {
        display: block;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .Content-login {
        background-color: #4f5bef;
        display: block;
        width: 100vw;
        height: 100vh;
        padding: 1px;
        z-index: 1;
    }

    .login_btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 200px;
        border-radius: 50px;
        border: 2px solid white;
        background: none;
    }
    
    .enter_btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 200px;
        border-radius: 50px;
        border: 2px solid white;
        background-color: white;
        color: rgb(92, 88, 88);
    }

}